<table>
    <tr>
        <th>Id</th>
        <th>| Nombre</th>
        <th>| Tipo Pelicula</th>
        <th>| Fecha de Estreno</th>
        <th>| Cantidad de Publico</th>
        <th>| Foto</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let pelicula of listadoPeliculas">
        <td>{{pelicula.id}}</td>
        <td>{{pelicula.nombre}}</td>
        <td>{{pelicula.tipo}}</td>
        <td>{{pelicula.fechaEstreno}}</td>
        <td>{{pelicula.cantidadPublico}}</td>
        <td>{{pelicula.foto}}</td>
        <td><button (click)="Editar(pelicula)">Editar</button></td>
        <td><button (click)="Borrar(pelicula)">Borrar</button></td>
    </tr>

</table>