<form action="action_page.php">
    <div class="imgcontainer">
        <img src="assets/img/alf.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required value={{usuario.nombre}}
            [(ngModel)]="usuario.nombre">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="usuario.clave">
        <button type="button" (click)="loguearse()">Login</button>

        <div *ngIf="mostrarError">
            <!-- Esto hace que no se cree el html -->
            <p>Loguin erroneo. Intente nuevamente</p>
        </div>
        <div [hidden]="!mostrarError">
            <!-- Este crea el elemento html en el DOM, pero oculto -->
            <p>Loguin erroneo. Intente nuevamente</p>
        </div>
    </div>

</form>